@import 'tailwindcss';
@import '@nuxt/ui';

/* Define theme colors. You can use https://uicolors.app to generate color values. */
@theme static {
  --color-primary-50: #f2f9fd;
  --color-primary-100: #e5f1f9;
  --color-primary-200: #c4e2f3;
  --color-primary-300: #90cae9;
  --color-primary-400: #55afdb;
  --color-primary-500: #2f94c8;
  --color-primary-600: #1f73a3;
  --color-primary-700: #1b5f89;
  --color-primary-800: #1a5172;
  --color-primary-900: #1b445f;
  --color-primary-950: #122c3f;
}

@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  box-sizing: border-box;
  border-collapse: collapse;
  border-style: solid;
  border-width: 0;
}

::-webkit-scrollbar-track:vertical {
  border-left-width: 0.5px;
}

::-webkit-scrollbar-track:horizontal {
  border-top-width: 0.5px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: #fafafa;
}

::-webkit-scrollbar-track {
  border-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 10px;
  border: 3px solid transparent;
  min-height: 24px;
  min-width: 24px;
}

::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a9a9a9;
}

@layer base {
   button,
   [role="button"] {
      @apply cursor-pointer;
      @apply disabled:cursor-not-allowed;
   }
}
