name: Update QAQC Viz Index

on:
  schedule:
    - cron: '0 14 * * *'  # 7am PST
    - cron: '0 15 * * *'  # 8am PST
    - cron: '0 16 * * *'  # 9am PST
    - cron: '0 18 * * *'  # 11am PST
    - cron: '0 0 * * *'   # 5pm PST
  workflow_dispatch:

env:
  PYTHON_VERSION: 3.11

jobs:
  qaqc-index:
    name: Run QAQC Index Update
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_PAT }}
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 900
      - name: Setup miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: false
          activate-environment: rca-data-env
          channel-priority: strict
          environment-file: .ci/environment.yaml
          use-only-tar-bz2: true
      - name: Print conda env
        run: |
          conda info
          conda list
      - name: Install package
        run: pip install git+https://github.com/OOI-CabledArray/rca-data-tools.git@main
      - name: Index update
        run: | # update the prod index and the staging/test index
          qaqc_index --cloud
          qaqc_index --cloud --bucket ooi-rca-qaqc-test 
