name: Deploy Prod

on:
  push:
    branches:
      - "main"
    paths:
      - "dashboard/**/*"
  workflow_dispatch:

env:
  NODE_VERSION: 24
jobs:
  build_and_deploy:
    name: build-deploy
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: dashboard
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 900
      - uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install Dependencies
        run: npm ci

      - name: Run Linter
        run: npm run lint

      - name: Generate Static Files
        run: npm run generate

      - name: Deploy Dashboard to S3
        run: |
          aws s3 sync \
            --acl public-read \
            --exclude 'discrete/*' \
            --exclude 'QAQC_plots/*' \
            --exclude 'HITL_notes/*' \
            --exclude 'spectrograms/*' \
            --exclude 'dev/*' \
            --delete \
            ./dist \
            s3://ooi-rca-qaqc-prod
      - name: Invalidate CDN
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.DASHBOARD_CDN_ID }} \
            --paths '/*'
